/* Coolors Exported Palette - coolors.co/ffff00-44ff3a-843daa-ed2525-003468 */

$color1: #ffff00; //rgba(255, 255, 0, 100)
$color2: #44ff3a; //rgba(68, 255, 58, 100)
$color3: #843daa; //rgba(132, 61, 170, 100)
$color4: #ed2525; //rgba(237, 37, 37, 100)
$color5: #003468; //rgba(0, 52, 104, 100)